*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
header{
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: rgba(0, 0, 0, 0.9);
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 1;
}
header img{
      height: 10vh;
}
.top_nav ul a{
      margin-left: 40px;
      color: white;
      text-decoration: none;
      font-size: 1.2rem;
}
.top_nav ul a:hover{
      color: #694214;
      transition: all 0.3s ease 0s;
}
.our_dishes{
      color: black;
      text-decoration: none;
      background-color: white;
      padding: 7px 15px;
      border-radius: 20px;
      font-size: 1.2rem;
}
#menu{
      display: none;
      color: white;
}
.our_dishes:hover{
      background-color: #694214;
      color: white;
      transition: all 0.3s ease 0s;
}
.mobile_nav, .harmburger{
      display: none;
}
main{
      margin-top: 5%;
}
.first_food{
      text-align: center;
}
.first_food img{
      height: 70vh;
      border-radius: 30px;
} 
.pop_up{
      width: 20%;
      background-color: white;
      height: fit-content;
      border-radius: 20px;
      position: absolute;
      top: 30%;
      left: 50%;
      padding: 20px;
      
}
.pop_up h5{
      margin-top: 20px;
      font-size: 1.6rem;
      
}
.pop_up p{
      margin-top: 10px;
      font-size: 1rem;
      line-height: 1.5;
}
.pop_up a{
      background-color: #694214;
      border-radius: 20px;
      padding: 10px 25px;
      text-decoration: none;
      color: white;
}
.pop_up a:hover{
      background-color: white;
      color: #694214;
}


.other_food{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: aqua;
      width: 50%;
      
}
.food_menu_container{
      display: flex;
      width: 70%;
      justify-content: space-between;
      margin: 20px auto;
      
}
.food_menu{
      width: 32%;
}
.food_img img{
      width: 100%;
      height: 60vh;
      border-radius: 20px;
}
.food_details h3{
      margin-top: 10px;
      text-align: center;
      font-size: 1.9rem;
}
.food_details p{
      margin-top: 20px;
      padding: 8px;
}

.form_card{
      width: 85%;
      height: 80vh;
      margin: 30px auto;
      background-color: black;
      border-radius: 20px;
      display: flex;
      justify-content: space-around;
}
.form_img{
      margin: auto 0;
}
.form_img img{
      border-radius: 10px;

}

.form p{
      font-size: 1.1rem;
      color: white;
      margin-top: 15px;
      text-align: center;
}
#box{
      width: 70%;
      height: 4vh;
      border-radius: 10px;
      border: none;
      text-align: center;
      margin-left: 15%;
}
#checkbox{
      margin-left: 50%;
}
#message{
      width: 100%;
      border-radius: 10px;
}
.submit_button{
      margin-left: 15%;
      width: 70%;
      height: 5vh;
      font-size: 1rem;
      border-radius: 20px;
      background-color: #694214;
      border: none;
      color: white;
}
.submit_button:hover{
      background-color: white;
      color: black;
      transition: all 0.10s ease 0s;
}
.first_hr{
      width: 90%;
      margin: 0 auto;
}
.address{
      display: flex;
      flex-direction: column;
      align-items: center;
}
.address h3{
      margin-top: 10px;
      font-size: 2rem;
}
.address h6{
      font-size: 1.3rem;
      margin-top: 30px;
      margin-bottom: 10px;
}
.bottom{
      width: 100%;
      height: 53vh;
      background-color: black;
      margin-top: 70px;
      border-top-left-radius: 120px;
}
.bottom_top{
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      padding: 30px;
}
.con{
      width: 20%;
}
.company_motto img{
      height: 13vh;
}
.company_motto p{
      line-height: 1.5;
      color: white;
      
}
.animation {
      margin-top: 5px;
      width: 20%;
      height: 5px;
      border-radius: 20px;
      background-color: rgb(184, 182, 182);
}
.moving_animation{
      width: 20px;
      height: 5px;
      border-radius: 5px;
      position: absolute;
      background-color: white;
      animation: move 2s forwards infinite  ;
}

@keyframes move {
      0%{ transform: translateX(-5px);}
      100%{ transform: translateX(35px);}
}

.office p{
      color: white;
      margin-top: 30px;
      line-height: 1.5;
}
#text{
      font-size: 1.2rem;
      color: white;
}
.second_hr{
      margin-top: 5px;
      width: 63%;
}
#phone_no{
      margin-top: 25px;
      color: white;
}
.bottom_nav ul a{
      display: block;
      line-height: 3;
      text-decoration: none;
      color: white;
}


.news{
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
}
.fa-solid {
      color: white;
      font-size: 1.3rem;
}
#email{
      border: none;
      outline: none;
      background-color: transparent;
      text-align: center;
      color: white;
}
.third_hr{
      width: 100%;
}
.socials{
      margin-top: 50px;
      display: flex;
      justify-content: space-around;
      
}
.fa-brands{
      
      font-size: 1.5rem;
      background-color: white;
      padding: 8px;
      border-radius: 50px;
}
.last_hr{
      width: 95%;
      margin: 0 auto;
}
.copyright{
      margin-top: 10px;
      color: white;
      text-align: center;
}
.name{
      text-align: center;
      margin-top: 10px;
}
.name a{
      color: white;
      text-decoration: none;
}
/**/
@media only screen and (max-width: 1024px){
      header{
            justify-content: space-between;
      }
      header img{
            margin-left: 10px;
      }
      .our_menu{
            margin-right: 10px;
      }
      main{
            margin-top: 160px;
      }
      .first_food img{
            width: 95%;
            height: 40vh;
      }
      .pop_up{
            width: 30%;
            height: 18vh;
      }
      .food_menu_container{
            width: 95%;
            
      }
      .food_img img{
            height: 35vh;
      }
      .food_details h3{
            font-size: 1.5rem;
      }
      .food_details p{
            line-height: 1.4;
      }
      .form_card{
            width: 95%;
            justify-content: space-around;
            height: fit-content;
      }
      .form_img{
            width: 50%;
      }
      .form_img img{
            border-radius: 20px;
            width: 100%;
            margin-left: 10px;
      }
      .form{
            width: 50%;
      }
      #message{
            width: 70%;
            margin-left: 15%;
      }
      .submit_button{
            margin-bottom: 20px;
      }
      .bottom{
            height: fit-content;
      }
      .company_motto img {
            height: 8vh;
      }
}

@media only screen and (max-width: 600px) {
      body{
            background-color: #edf0f1;
      }
      header{
            display: flex;
            
      }
      header img{
            margin-left: 10px;
      }
      
      .top_nav{
            display: none;
      }
      .our_menu{
            display: flex;
            align-items: center;
      }
      .our_dishes{
            margin-right: 10px;
      }
      .harmburger{
            display: block;
            width: 35px;
            cursor: pointer;
            appearance: none;
            background: none;
            outline: none;
            border: none;
            margin-right: 10px;
      }
      .harmburger .bar, .harmburger::before, .harmburger::after{
            content: '';
            display: block;
            width: 100%;
            height: 5px;
            background-color: white;
            transition: 0.4s;
            margin: 6px 0px;
      } 
      .harmburger.is-active::before {
            transform: rotate(-45deg) translate(-8px, 6px);
      }
      .harmburger.is-active .bar {
            opacity: 0;
      }
      .harmburger.is-active::after {
            transform: rotate(45deg) translate(-9px, -8px);
      }
      .mobile_nav {
            display: block;
            position: fixed;
            top: 9.5%;
            left: 100%;
            width: 100%;
            min-height: 100vh;
            z-index: 98;
            background-color: rgba(0, 0, 0, 0.9);
            padding-top: 120px;
            transition: 0.4s;
      }
      .mobile_nav.is-active{
            left: 0;

      }
      .mobile_nav a{
            display: block;
            text-align: center;
            margin-bottom: 16px;
            padding: 16px;
            text-decoration: none;
            width: 100%;
            font-size: 2rem;
            color: white;
      }
      main{
            margin-top: 23%;
      }
      
      .first_food img{
            width: 95%;
      }
      .pop_up{
            margin-top: 10px;
            position:relative;
            height: fit-content;
            width: 90%;
            left: 4%;
            text-align: center;
            
      }
      .food_menu_container{
            flex-direction: column;
            align-items: center;
      }
      .food_menu{
            width: 80%;
      }
      .food_img img{
            height: 45vh;
      }
      .food_details p{
            margin-top: 5px;
      }
      .form_card{
            flex-direction: column;
            height: fit-content;
            width: 90%;
      }
      .form_img{
            width: 100%;
            margin: 0px;
      }
      .form_img img{
            margin-top: 10px;
            margin-left: 5%;
            width: 90%;
            border-radius: 20px;
      }
      .form{
            width: 100%;
      }
      #box{
            margin-top: 5px;
      }
      #message{
            width: 80%;
            margin-left: 10%;
      }
      .submit_button{
            margin-bottom: 20px;
      }
      .address h3{
            font-size: 1.5rem;
      }
      .address h6{
            font-size: 14px;
      }
      .bottom{
            margin-top: 40px;
      }
      .bottom_top{
            flex-direction: column;
            align-items: center;
      }
      .con{
            width: 95%;
      }
      .company_motto img{
            height: 13vh;
      }
      .office{
            margin-top: 20px;
      }
      .office p{
            margin-top: 10px;
      }
      #phone_no{
            margin-top: 10px;
      }
      .links{
            margin-top: 20px;
      }

      .bottom_nav ul{
            display: flex;
            justify-content: space-between;
            font-size: 14px;
      }
      .news{
            margin-top: 30px;
      }
}